.cs_sidebar_flex {
  display: flex;
  gap: 50px;
}

// i {
//   display: flex;
// }

.cs_pagination.cs_style_2 {
  button {
    display: block;
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
  }
}

.cs_pagination.cs_style_1 {
  button {
    display: block;
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 0;
    z-index: 2;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    overflow: hidden;
    left: -2px;
    top: -2px;
  }
}

.cs_pagination.cs_style_4 {
  button {
    display: block;
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
  }
}

.slick-initialized:not(.slick-vertical) {
  cursor: url("/assets/images/drag.png") 16 9, ew-resize !important;
}
.cs_right_arrow,
.cs_left_arrow {
  cursor: pointer;
}

.cs_swiper_pagination_2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 91.6%;
  width: initial;
  z-index: 2;
  bottom: initial;

  @media (max-width: 991px) {
    flex-direction: row;
    transform: initial;
    left: initial;
    right: 30px;
    bottom: 30px;
    top: initial;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  li {
    height: initial;
    width: initial;
    background-color: transparent;
    margin: 0;
    opacity: 1;
    position: relative;
    button {
      background-color: transparent;
      cursor: pointer;
      border: none;
      outline: none;
      &::before {
        content: "0";
      }
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 0px;
        background-color: currentColor;
        top: 50%;
        right: 100%;
        margin-right: 10px;
        transition: all 0.3s ease;
        @media (max-width: 991px) {
          top: initial;
          bottom: 0;
          right: 0;
          margin-right: 0;
        }
      }
    }
    &.slick-active {
      button {
        &::after {
          width: 50px;
          @media (max-width: 991px) {
            width: 100%;
          }
        }
      }
    }
  }
}
.cs_swiper_pagination_3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  bottom: initial;
  right: initial;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: initial;
  @media (max-width: 1250px) {
    left: 12px;
  }
  @media (max-width: 991px) {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    bottom: 20px;
    top: initial;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
  }

  li {
    display: flex;
    button {
      height: 10px;
      width: 10px;
      flex: none;
      transition: all 0.3s ease;
      border-radius: 10px;
      background-color: var(--ternary);
      margin: 0;
      color: transparent;
      padding: 0;
      border: none;
      font-size: 0px;
      cursor: pointer;
      &:hover {
        background-color: var(--accent);
      }
    }

    &.slick-active {
      button {
        height: 20px;
      }
      @media (max-width: 991px) {
        height: 10px;
        width: 20px;
      }
    }
  }
}
.slick-slide {
  .cs_hero.cs_style_2 {
    .cs_hero_title {
      position: relative;
      left: 100px;
      transition: all 0.8s ease;
      opacity: 0;
    }
    .cs_hero_btn_wrap {
      display: inline-block;
      transition: all 0.8s ease;
      opacity: 0;
      position: relative;
      left: -30px;
      bottom: -20px;
    }
  }
  &.slick-active {
    .cs_hero.cs_style_2 {
      .cs_hero_title {
        left: 0px;
        opacity: 1;
        transition-delay: 0.65s;
      }
      .cs_hero_btn_wrap {
        transition-delay: 0.75s;
        opacity: 1;
        left: 0px;
        bottom: 0px;
      }
    }
  }
}
.cs_scroll_slider_container {
  position: relative;
  .cs_scroll_slide {
    position: sticky;
    top: 0;
    background-color: #fff;
    &:nth-child(even) {
      background-color: var(--gray);
    }
  }
}
.cs_site_header.cs_style_1.cs_color_1,
.cs_site_header.cs_style_2.cs_color_1 {
  &.cs_sticky_active {
    background-color: var(--primary);
    box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
  }
}
.cs_site_header.cs_style_2.cs_color_1.cs_sticky_active {
  .cs_btn.cs_style_1 {
    background-color: var(--white);
    color: var(--primary);
    &:hover {
      background-color: var(--accent);
      color: var(--white);
    }
  }
}
.cs_site_header.cs_style_1.cs_sticky_active .cs_top_header_in,
.cs_site_header.cs_style_2.cs_sticky_active .cs_top_header_in {
  height: 0px;
}
@media screen and (min-width: 1200px) {
  .cs_site_header.cs_style_1.cs_size_md
    .cs_top_header
    + .cs_main_header
    .cs_nav
    .cs_nav_list
    .cs_mega_wrapper {
    top: 135px !important;
  }
}

.cs_accordian_body_wrap {
  overflow: hidden;
  transition: height 0.3s ease;
}

@media (max-width: 768px) {
  .menu-item-shop-layout,
  .menu-item-offer-catalog,
  .menu-item-other-pages {
    display: none;
  }
}
